{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block content %}
<div class="container mt-4">
        <div class="row">
                {% for film in films %}
                    <div class="col-4 text-center">
                        <img src="{{ film.affiche }}" class="img-fluid" alt="{{ film.titre }}" />
                        <div class="row">
                            <div class="col-12 mt-2 text-center">
                                <a href="{{ path('findFilm',{id:film.id}) }}">
                                    {{ film.titre }}
                                </a>
                            </div>
                            <div class="col-8 mt-2 text-center offset-2">
                                Synopsis :<br/>
                                {{ film.synopsis }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
</div>
{% endblock %}
